*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: '楷体';
    font-size: 16px;

}
#wrapper{
    margin: 0 auto;
}
#header{
    margin: 0 auto;
    width:1000px;
    height: 80px;

}
#header a{
    text-decoration: none;
}
#main_title{
    float: left;
    margin-top: 10px;
}
#head{
    float: left;
}
#head ul{
    list-style-type: none;
}
#head li{
    display: inline-block;
    margin-top: 25px;
    margin-left: 35px;
}
#head a{
    text-decoration: none;
    font-weight: bold;
}
#head a:hover{
    color: #000;
}
#search{
    width: 350px;
    text-align: center;
    float: left;
    padding-top: 21px;
    padding-bottom: 27px;
}

#other{
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}
#other img{
    width: 40px;
    height: 50px;
}
#main{
    background-color:whitesmoke;
    height: 960px;
    position: relative;
    border: 1px solid #e4e4e4;
}
#main_content{

    margin: 0 auto;
    width:1000px;
    height: 960px;
}
#main_info{
    height: 810px;
    margin-top: 28px;
    padding-bottom: 40px;
}
#videoING{
    width: 1000px;
    height: 430px;
    margin-top: 10px;
}
#videoING video{
    width: 1000px;
    height: 100%;
}
#class_introducing{
    margin-top: 30px;
    float: left;
    width: 700px;
    color: #333;
}
#class_paltform{
    margin-top: 30px;
    float: right;
    width: 270px;
    height: 300px;

}
#footer{
    margin: 0 auto;
    width:1000px;
    clear: both;
    text-align: center;
}
